body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* GLOBAL STYLING */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* HEADER - global */
header {
    background: #35424a;
    color: #cfcfcf;
    padding-top: 30px;
    min-height: 70px;
    padding-bottom: #ccc 4px solid;
    
}
/*UL - global */
ul {
    margin: 0;
    padding: 0;
}

/* BUTTON - global*/
button {
    border: none;
    background: green;
    padding: 0 20px 0 20px;
    color: white;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

/* HEADER */
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header li {
    display: inline;
    padding: 0 18px 0 18px;
}

header #logo {
    float: left;
}
header #logo h1 {
    margin: 0;
}

header .nav {
    float: right;
    margin-top: 15px;
}

header a:hover {
    color: orange;
    font-weight: bold;
}

header .current a {
    color: orangered;
    font-weight: bold;
}
header span {
    color: orange;
}

/* LOGIN FORM */
#login {
    background-color: LightGrey;
    width: 30%;
    margin-left: 40px;
    margin-top: 20px;
    padding: 15px 10px;
    height: 120x;
    border-radius: 10px;
}
#login label {
    font-weight: bold;
    font-size: 15px;
}
#login a {
    text-decoration: none;
    font-size: 14px;
    color: #35424a;
}
#login a:hover {
    color: green;
    background: #ffffff;
    padding: 10px;
    border-radius: 25px;
}

input.login-field {
    width: 250px;
    height: 28px;
}
#login input {
    width: 100%;
}
#login button, #sidebar button {
    width: 50%;
    position: relative;
}
#login button:hover, #sidebar button:hover {
    cursor: pointer;
    background: orange;
    color: white;
    border-radius: 27px;
}

/*******************************/
/* Div boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px;
}

#boxes .box img {
    width: 100px;
}
#boxes h3 {
    margin: 0;
    font-size: 16px;
    color: green;
}
#boxes .box  a {
    color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    font-size: 14px;
}
#boxes .box a:hover {
    background: green;
    border-radius: 28px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
}
/* Aside - sidebar*/
aside {
    float: right;
    background-color: lightgray;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    width: 27%;
    border-radius: 10px;
}
aside h3 {
    margin: 0 0 10px 0;
}
aside label {
    font-size: 12px;
}
aside #sidebar {
    width: 30%;
    
}
aside li {
    display: block;
}
aside a {
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    padding: 10px;
}
aside span {
    float: right;
}
aside .total {
    font-weight: bolder;
}

/* Form fields */
aside .sidebar_field {
    border: none;
    width: 100%;
    height: 28px;
    padding: 0 0 0 5px;
    border-bottom: 1px solid #111111;
    
}
aside textarea {
    width: 98%;
    padding-left: 5px;
}

/* FOOTER */
footer {
    margin-top: 40px;
    color: #ffffff;
    background: #111111;
    text-align: center;
    padding: 60px;
    font-size: 12px;
}