<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Store Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>Store Manager: <span>Attendant</span></h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="login.html">Back</a></li>
                    <li><a href="login.html">Checkout</a></li>
                    <li><a href="login.html">View Sale Records</a></li>
                    <li class="current"><a href="login.html">View Products</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
		</div>
	</header>

	<section id="boxes">
		<div class="container">
            
            <div class="box">
                <img src="../img/men_shoe.jpg" alt="men shoe">
                <P>Shs1200</P>
                <P><a href="#">View Product</a></P>
                <p><a href="#">Add to Cart</a></p>
            </div>
            <div class="box">
                <img src="../img/men_trouser.jpg" alt="men trouser">
                <P>Shs1200</P>
                <p><a href="#">View Product</a></p>
                <p><a href="#">Add to Cart</a></p>
            </div>
            <div class="box">
                <img src="../img/men_shirt.jpg" alt="men shirt">
                <P>Shs1700</P>
                <p><a href="#">View Product</a></p>
                <p><a href="#">Add to Cart</a></p>
            </div>
            <aside id="sidebar">
                <h3>Shooping Cart</h3>
                <ul>
                    <li>Men Trouser: <span>Shs1200</span></li>
                    <li>Men shoes: <span>Shs1500</span></li><hr>
                    <li class="total">TOTAL: <span>Shs2700</span></li><hr>
                    <p><a href="#">Checkout</a></p>
                </ul>
            </aside>

		</div>
	</section>
	<footer>
        Store Attendant Copyright &copy 2018
    </footer>
</body>
</html>