<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Store Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>Store Manager</h1>
			</div>
		</div>
	</header>

	<section id="login">
		<div class="container">
			<form action="#">
				<label class="label">Username: </label><br>
				<input class="login-field" type="text" name="username" placeholder="Enter username"><br><br>
				<label class="label">Password:</label><br>
				<input class="login-field" type="text" name="password" placeholder="Enter password"><br>
				<button>Login</button><br>
				<p><a href="#" >Forgot Password?</a></p>
			</form>
		</div>
	</section>

</body>
</html>